<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>file選択</title>
</head>
<body>
<!--ただし、request.FILES にデータが格納されるのは、リクエストメソッドが POST で、かつリクエストをポストした <form> の属性に enctype="multipart/form-data" が設定されていた場合に限られること-->

<div>
    <table>
        <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input type="file" name="movie-file">
        <input type="file" name="user-file">
        <input type="file" name="rating-file">
            <input type="submit" value="送信">
    </form>

    </form>
    </table>
</div>



</body>
</html>