{% extends 'base.html' %}

{% block content %}
<table>
    <div class="form-group has-error">
        <label class="control-label">入力ファイルを選択</label>
        <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input type="file" name="movie-file" value="movie-file">
        <input type="file" name="user-file" value="user-file">
        <input type="file" name="rating-file" value="rating-file">
        <input type="submit" class="btn btn-primary" value="送信">
        </form>
    </div>
</table>

{% endblock %}



