{% extends 'base.html' %}
{% block content %}
<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Events</div>
	<div class="panel-body">
	<p>イベント</p>
	</div>
    <p>{{ event.title }}   {{event.detail}}  {{ event.start }} ~ {{ event.end }}</p>
	<div>
		<form method="post">
			{% csrf_token %}
		<tr>{{ form }}</tr>
		<input type="submit">
		</form>
		{% for question in event_questions %}
		<tr>
			<td>{{ question }}</td>
		</tr>
		{% endfor %}
	</div>

</div>
{% endblock %}