{% extends 'base.html' %}
{% block content %}
<div class="panel panel-default">

    {% if request.user.is_authenticated %}
    <form method="post">
        <table>
            <tr>
                <td>予約フォーム</td>
            </tr>
            <tr>
                <td>
                    {% csrf_token %}
                    {{form}}
                </td>
            </tr>
        </table>
        <input type="submit">
    </form>
    {% endif %}
    <hr>



	<table class="table">
		<tr>
			<td cospan="2">予約メニュー</td>
		</tr>
		<tr>
			<td cospan="2">受講者名</td>
			<td cospan="2">イベント名</td>
			<td cospan="2">予約キャンセル</td>
		</tr>
		{% for booking in event_bookings %}
		<tr>
			<td>{{booking.name}}</td>
			<td>{{booking.event}}</td>
			<td>{{booking.is_canceld}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}