<!DOCTYPE html>
<html lang="en">
<head><title>test</title></head>
<body>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Rating</div>
        <div class="panel-body">
        <p>映画レーティング</p>
        </div>
    </div>

    <div>
       <table class="table">
            {% for rating in ratings %}
            <tr>
                <td>{{ rating.user }}</a></td>
                <td>{{ rating.movie }}</td>
                <td>{{ rating.score }}</td>
                <td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
