{% extends 'base.html' %}
{% load static %}
{% block page_title %}データアップロード{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>アップロードステータス</td>
                <td>
                    movie: {% if movie_up_status == consts_fileupload_status.1.0 %}{{consts_fileupload_status.1.1}}{% else %}{{consts_fileupload_status.0.1}}{% endif %}<br />
                    rating: {% if rating_up_status == consts_fileupload_status.1.0 %}{{consts_fileupload_status.1.1}}{% else %}{{consts_fileupload_status.0.1}}{% endif %}<br />
                    user_info: {% if user_info_up_status == consts_fileupload_status.1.0 %}{{consts_fileupload_status.1.1}}{% else %}{{consts_fileupload_status.0.1}}{% endif %}<br />
                </td>
            </tr>
            <tr>
                <td>並列処理のステータス</td>
                <td>
                    {% if sync_status == consts_sync_status.0.0 %}
                        {{consts_sync_status.0.1}}
                    {% elif sync_status == consts_sync_status.1.0 %}
                        {{consts_sync_status.1.1}}
                    {% elif sync_status == consts_sync_status.2.0 %}
                        {{consts_sync_status.2.1}}
                    {% else %}
                        並列タスクなし
                    {% endif %}
                </td>
            </tr>
            {{ form }}
            <tr>
                <td colspan="2">
                    <input type="submit" {% if sync_status == consts_sync_status.0.0 %}disabled="disabled"{% endif %}>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}


